.personal-info {
  margin: 1rem;
}

.name {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  margin: 0.2rem;
  gap: 1rem;
  font-family: 'Now', sans-serif;
}

.roles {
  display: flex;
  gap: 0.3rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-family: 'Now', sans-serif; /* TODO: use variables? */
}

.role {
  text-wrap: nowrap;
}

.roles > div:not(:last-child)::after {
  content: ' | ';
}

@media (max-width: 500px) {
  .personal-info {
    font-size: 0.9rem;
  }
}

@media (max-width: 420px) {
  .personal-info {
    font-size: 0.8rem;
  }
}
