h3,
h4 {
  margin-top: 0.5rem;
  margin-bottom: 0;
}

.diplomas {
  margin-top: 0.5rem;
}

.diploma {
  margin: 0 0.2rem 0.5rem 0.5rem;
}

.diploma-main {
  display: inline-block;
}

.diploma-main > span:not(:last-child) {
  margin-right: 0.2rem;
}

.diploma-details {
  display: inline-block;
  position: relative;
}

.diploma-details > span:not(:last-child) {
  margin-right: 0.2rem;
}

.hint {
  position: absolute;
  top: -100%;
  right: -150%;

  background-color: lightblue;
  padding: 0.2rem;
  border: 1px solid black;
  border-radius: 0.5rem;

  text-wrap: nowrap;
  visibility: hidden;
  font-size: 0.8rem;
}

.diploma-details:hover .hint {
  visibility: visible;
}

.certificates {
  display: flex;
  flex-direction: column;
}

.certificate {
  margin: 0 0.2rem 0.5rem 0.5rem;
}

.certificate-title > a {
  text-decoration: none;
  color: inherit;
}

.certificate-issuer {
  display: flex;
  flex-wrap: wrap;

  span {
    margin-right: 0.3rem;
    flex-shrink: 0;
  }
}

.diploma-main.title,
.certificate-title.title {
  font-size: 0.9rem;
  margin: 0;
}

.diploma-details,
.certificate-issuer {
  font-size: 0.85rem;
}

@media screen and (max-width: 1490px) {
  .insitution {
    padding: 0;
  }

  .certificate-issuer {
    padding: 0;
  }
}

@media (max-width: 720px) {
  .diploma {
    word-break: break-all;
  }

  .education-container > .title {
    margin: 0;
    margin-left: 0.4rem;
  }

  .diploma-main.title,
  .certificate-title.title,
  .diploma-details,
  .certificate-issuer {
    font-size: 0.8rem;
  }
}
