.project {
  display: block;
  margin-bottom: 1rem;
}

.project-head {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

button.expander {
  all: unset;
}

button.expander:focus {
  outline: revert;
}

button.enabled > *:hover {
  background-color: brown;
}

button.disabled > *:hover {
  background-color: green;
}

.project-title {
  margin: 0 2rem;
  flex-shrink: 0;
}

.project-technologies {
  margin: 0.2rem 0.5rem;
  font-size: 0.7rem;
}

.responsibilities {
  margin: 0 1rem;
  padding: 0 0 0 1.5rem;
  font-size: 0.82rem;
}

.responsibilities > li::after {
  content: ';';
}

@media (max-width: 1500px) {
  .project-head {
    display: block;
  }

  .project-period {
    display: flex;
    justify-content: flex-end;
    font-size: 0.8rem;
  }
}
