.project-team {
  display: inline-flex;
  justify-content: start;
  gap: 0.5rem;
}

.team-description {
  display: inline-flex;
  flex-shrink: 0;
  gap: 0.5rem;
}

.team-language {
  flex-shrink: 0;
}
