.skill-list {
  padding: 0;
  display: flex;
  gap: 0.3rem;
  justify-content: flex-start;
  align-items: center;
  list-style-type: none;
  flex-wrap: wrap;
}

.skill {
  text-wrap: nowrap;
}

@media (max-width: 768px) {
  .skill {
    text-wrap: balance;
  }
}

.skill:not(:last-child)::after {
  content: ' ·';
}

.hint {
  display: none;
  background-color: blanchedalmond;
  border: 1px solid black;
  border-radius: 1rem;
  font-size: 0.6rem;
  padding: 0.15rem;
}

.additional-skill {
  position: relative;
}

.additional-skill:hover .hint {
  display: flex;
  position: absolute;
  top: -1rem;
  left: 1.5rem;
}
