.job {
  margin-top: 0.5rem;
}

.job-head {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.job-position {
  text-wrap: nowrap;
}

.job-period {
  font-size: 0.9rem;
}

.additional-responsibilities-container {
  margin: 0rem 1rem;
}

.additional-responsibilities-container > .title {
  font-size: 0.9rem;
}

.additional-responsibilities {
  font-size: smaller;
  list-style-type: square;
}

.additional-responsibilities > li::after {
  content: ';';
}

.projects-container {
  margin: 1rem 0 1rem 0.5rem;
}

@media (max-width: 1500px) {
  .job-head {
    margin: 0 0.5rem;
    display: block;
  }

  .job-period {
    display: flex;
    justify-content: flex-end;
  }
}

@media (max-width: 500px) {
  .job-position {
    text-wrap: wrap;
  }
}
