:root {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-width: 100%;
}

ul {
  margin: 0;
}

@media (min-width: 768px) {
  :root {
    font-size: 1.16rem;
  }
}

@media (min-width: 1024px) {
  :root {
    font-size: 1.25rem;
  }
}

@media (min-width: 1280px) {
  :root {
    font-size: 1.33rem;
  }
}
