.languages-list {
  margin: 0.5rem 0 0.5rem 0.5rem;
}

.language {
  display: flex;
  gap: 0.2rem;
}

.language-title,
.language-level {
  text-transform: capitalize;
}

.language > span > strong {
  font-weight: normal;
}
